<header>
    Page header

    <ul>
        <% if (locals.user){ %>
            <li><a href="/users/profile">
                <%= user.name %>
                </a>
            </li>
            <li>
                <a href="/users/sign-out">Sign Out</a>
            </li>
        <% }else{ %>    
            <li>
                <a href="/users/sign-in">Sign In</a> 
            </li>
            <li>
                <a href="/users/sign-up">Sign Up</a> 
            </li>
        <% } %>   
    </ul>
</header>
<!-- these files are called partials you design the way you want the static things to look like and then include in the oyher files where you need this look -->
